* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

input,
textarea,
button,
select {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  outline: none;
}

body {
  background-image: linear-gradient(to left, #bdc7e0, #fff);
  min-height: 100vh;
  padding: 5rem;
}

.signup {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #e9f0ff, #fff 50%);
  border-radius: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
.signup__content, .signup__image {
  min-width: calc(50% - 4rem);
}
.signup__content {
  padding: 5rem;
}
.signup__heading {
  color: #291864;
  font-size: 5.5rem;
  font-weight: bold;
  color: #291866;
}
.signup__caption {
  color: #fb4c53;
  font-weight: bold;
  font-size: 1.6rem;
  position: relative;
  margin: 5rem 0;
  padding-left: 8rem;
}
.signup__caption::before {
  content: "";
  width: 5rem;
  height: 0.2rem;
  background-color: #fb4c53;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.signup__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signup-social {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}
.signup-social__item {
  padding: 1.5rem 2.5rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #291866;
  width: calc(50% - 1.5rem);
}
.signup-social__icon {
  padding-right: 2rem;
}
.signup-form__label {
  color: #291866;
  display: inline-block;
  margin-bottom: 1rem;
  transform: translateX(1rem);
  cursor: pointer;
}
.signup-form__input {
  padding: 1.5rem 2rem;
  border: 1px solid #eee;
  background-color: #fafbff;
  display: block;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.25s linear;
}
.signup-form__input:focus + .signup-form__check {
  background-color: #fb4c53;
  color: #fff;
}
.signup-form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.signup-form__row .signup-form__group {
  width: calc(50% - 1.5rem);
}
.signup-form__term {
  margin-top: 2.5rem;
}
.signup-form__term input {
  display: none;
}
.signup-form__term input:checked + label::before {
  background-color: #fb4c53;
}
.signup-form__term input:checked + label::after {
  opacity: 1;
  visibility: inherit;
}
.signup-form__term label {
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
  margin-bottom: 8rem;
  display: inline-block;
}
.signup-form__term label::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid #eee;
  background-color: #fafbff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.25s linear;
}
.signup-form__term label::after {
  content: "";
  width: 0.5rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0.7rem;
  transform: rotate(45deg);
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  opacity: 0;
  visibility: hidden;
}
.signup-form__submit {
  width: 8rem;
  height: 8rem;
  color: #fff;
  border: 0;
  border-radius: 2.5rem;
  background-color: #fb4c53;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 0px 20px 9px 0rem rgba(251, 76, 82, 0.123);
  margin-bottom: 8rem;
  cursor: pointer;
}
.signup-form__validate {
  position: relative;
}
.signup-form__validate .signup-form__input {
  padding-right: 6rem;
}
.signup-form__check {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  background-color: #eee;
  color: #291866;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.signup__already {
  color: #291866;
}
.signup__already a {
  color: #fb4c53;
  text-decoration: none;
  margin-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
